<div class="container h-100 " style="padding: 30px; display: grid;">
    <mat-card class="m-auto text-center h-lg-50 h-md-75 h-sm-75  " style="height: 75%;">
        <div class="h-100 row">
            <div class="col-12">
                <mat-card-content style="height: 40%;">
                    <img mat-card-image src="assets/media/pngwing.com.png" alt="Photo of a Shiba Inu"
                        class="w-lg-50 w-md-50 w-sm-75 m-0 " style="width: 200px !important;">
                </mat-card-content>
            </div>
            <div class="col-12">
                <h1 style="font-size: xx-large; display:inline-block;  font-weight: bolder">CryptoCoins</h1>
            </div>
            <div class="col-12">
                <mat-card-actions style="height: 40%;">
                    <a class="w-sm-100 w-md-25 w-lg-50" style="
                                    width: 100%;
                                    overflow: hidden;
                                    text-overflow: ellipsis;" mat-stroked-button routerLink="/list_coins">Get in</a>
                </mat-card-actions>
            </div>
        </div>
    </mat-card>
</div>